table {
    border: 1px solid grey;
 }
 /* границы ячеек первого ряда таблицы */
 th {
    border: 1px solid grey;
 }
 /* границы ячеек тела таблицы */
 td {
    border: 1px solid grey;
 }
 .logo {
    max-height: 100px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 15 px;
    box-sizing: border-box;
    max-width: 1330px;
    margin: 0 auto;
}
.menu {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    list-style: none;
    margin-left: 94;
}
.menu li{
    margin-left: 94px;
}
.menu li a{
    color: #252b42; ; text-decoration: none;
}

.menu li a:hover{
    color: #FA4A0C;
}
.lkn {
    margin-left:0px ;
}